################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/v17
/WebApp/bin/Debug/net6.0
/WebApp/obj
/WebApp/.vs/WebApp
